// pdp nav css
  
  
  .fotorama__nav-wrap.fotorama__nav-wrap--vertical {
    width: auto;
  }
  .fotorama__thumb__arr.fotorama__thumb__arr--right.fotorama__arr--disabled {
    opacity: 1;
}

  .media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-tabs-container.has-sticky-header {
    .stiky-product-name{
        text-align: right;
        padding-left: 0;
        margin: 0 auto 0 0;
        padding-right: 70px;
    
        }
       .container{
        margin: 0 0 0 auto;
       }

    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .catalog-product-view #product-review-container .rating-number{
        margin: 0 5px 0 0;
    }
}



@media screen and (max-width:767px){
	#text {
	    width: 50%;
	}
    .short_description {
    height: 50px;
    overflow: hidden;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
    }
    .short_description.draw {
        height: 150px;
        
    }
    .des-inc-item{
        display: block;
        width: 34px;
        height: 12px;
        position: absolute;
        left: 50%;
        bottom: 0px;
        margin-left: -17px;
        background: url(../images/label_open.png) no-repeat 0 bottom;
        border: 0;
        text-indent: -9999em;
        background-size: 34px;
    }
    .short_description.draw-btn {
    height: 150px;
    }	
    .short_description.draw .des-inc-item {
        display: none;
    }
} 


@media screen and (max-width:640px){
	#text {
	    width: 90%;
	}	
}


@media(max-width:767px){
    body.catalog-product-view .product-tabs-container.has-sticky-header.has-mobile-sticky-header .data.item.title {
        padding: 0 5px !important;
        width: auto;
    }
}
    html[lang="ar"] .fotorama__arr--prev {
        right: 15% !important;
    }
    .fotorama__stage .fotorama__fullscreen-icon {
        left: 35px !important;
    }
    #Btn_360 {
        position: relative;
        right: 42px;
    }

.catalog-category-view .products-grid .product-item .product-item-info .product.details strong .product-item-link {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
     font-size: 16px !important;
}
@media(min-width:1440px){
.catalog-category-view .products-grid .product-item .product-item-info .product.details strong .product-item-link {
        width: 273px;
}
}

   


